google-ads
google-api-python-client
google-shopping-merchant-accounts
google-shopping-merchant-products
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-bigquery
google-cloud-storage
six
absl-py
apache-beam[gcp]==2.69.0
protobuf
etils[epath-gcs]
google-cloud-secret-manager
PyYAML
google-crc32c
google-shopping-merchant-promotions
google-shopping-merchant-reports
# pin for artifact registry
regex==2024.11.6
typing_extensions
